@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Ginto-Nord, Ginto, Whitney*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
#part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.back_decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    z-index: -1;
    background-color: #404EED;
    overflow-x: hidden;
}
.backimage {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -1280px;
    vertical-align: baseline;
}
.imgleft {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1030px;
}
.imgright {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 370px;
}
header {
    display: flex;
    padding: 30px;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
.logo-3LF899 {
    fill: white;
}
.list ul {
    display: flex;
    list-style: none;
    font-size: 0.9em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.list ul li {
    margin-right: 30px;
}
.list ul li a{
    text-decoration: none;
    color: white;
}
.list ul li a:hover{
    text-decoration: underline;
}
.button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    transition: 0.3s;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    transition: 0.3s;
}
.button:hover {
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
}
.button:hover {
    color: #404EED;
    text-decoration: none;
    font-size: 0.8em;
}
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 100px;
}
#intro h1 {
    color: white;
    font-size: 4em;
    width: 400px;
    text-align: center;
    line-height: 1em;
}
#intro p {
    color: white;
    width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.download {
    cursor: pointer;
    background-color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    transition: 0.3s;
}
.download:hover {
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
}
.download a svg {
    margin-right: 5px;
    transition: 0.3s;
}
.download:hover a svg {
    fill: #404EED;
}
.download a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.download:hover a {
    color: #404EED;
}
.navegator {
    cursor: pointer;
    background-color: #23272a;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.navegator:hover {
    background-color: #2c2e30;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
}
.navegator a {
    color: white;
    text-decoration: none;
}
#part2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#contentblock {
    width: 80%;
    padding: 120px;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.boxtext {
    width: 390px;
}
.boxtext h2{
    color: #23272a;
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 20px;
}
.boxtext p {
    color: #23272a;
    font-size: 1.1em;
    line-height: 1.6em;
}
.blococinza {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
}
.cont {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.texto {
    text-align: center;
    width: 80%;
}
.texto h2 {
    color: #23272a;
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 20px;
    letter-spacing: -2px;
}
.texto p {
    color: #23272a;
    font-size: 1.1em;
    line-height: 1.6em;
}
.imagem{
    width: 100%;
}
.imagem img{
    width: 100%;
}
.download_now {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 80px;
    padding-top: 10px;
}
.download_now img {
    margin-bottom: -20px;
}
.download_now h3 {
    font-size: 1.8em;
    margin-bottom: 35px;
}
.download2 {
    cursor: pointer;
    background-color: #404EED;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    transition: 0.3s;
}
.download2:hover {
    background-color: #646fe7;
}
.download2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.download2 a svg {
    fill: white;
    margin-right: 5px;
    transition: 0.3s;
}
.download2:hover {
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #23272A;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 70%;
    padding-top: 100px;
    padding-bottom: 20px;
}
.RedesSociais h3{
    font-size: 2.2em;
    width: 250px;
    color: #5865F2;
    margin-bottom: 0.5em;
}
.RedesSociais button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.RedesSociais button .br {
    width: 2em;
    margin-right: 10px;
}
.RedesSociais button p {
    color: white;
    margin-right: 10px;
}
.RedesSociais ul{
    display: flex;
    list-style: none;
    margin-top: 1em;
}
.RedesSociais ul li {
    margin-right: 2em;
}
.RedesSociais ul li a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-top: 10px;
}
.links ul {
    list-style: none;
}
.links ul li {
    color: #404EED;
    font-size: 0.9em;
    margin-bottom: 0.9em;
}
.links ul li a {
    text-decoration: none;
    color: white;
}
.links ul li a:hover {
    text-decoration: underline;

}
.finalpage {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid #404EED;
}
.finalpage .button {
    background-color: #5865F2;
    color: white;
}
.finalpage .button:hover {
    background-color: #7983F5;
    color: white;
}
/*------------Responsive-----------*/

@media (max-width:1600px) {
    .boxtext h2 {
        font-size: 2.5em;
    }
}
@media (max-width: 1400px) {
    #contentblock {
        flex-direction: column;
    }
}
@media (max-width: 1200px) {
    .footer, .finalpage {
        width: 80%;
    }
}
@media (max-width: 1000px) {
    .footer, .finalpage {
        width: 90%;
    }
}
